*.prefs
*.svn-base
.metadata/
RemoteSystemsTempFiles/.project
zyx-common/target/
zyx-mapper/target/
zyx-mobileservice/target/
zyx-file/target/
zyx-entity/target/
zyx-live/target/
zyx-service/target/
zyx-dao/target/
zyx-config/target/
zyx-core/target/
*.project
*.classpath
*.log
*.setting
