<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyx.mapper.activity.ActivityTopicMapper">

    <resultMap id="activityTopic" type="com.zyx.entity.activity.ActivityTopic">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="activity_id" property="activityId" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="topic_title" property="topicTitle" jdbcType="VARCHAR"/>
        <result column="topic_content" property="topicContent" jdbcType="VARCHAR"/>
        <result column="topic_date" property="topicDate" jdbcType="TIMESTAMP"/>
        <result column="images" property="images" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
    </resultMap>


    <select id="dynamicQuery" parameterType="com.zyx.entity.activity.parm.QueryTopicParm" resultMap="activityTopic">
        SELECT * FROM activity_topic WHERE activity_id = #{activityId} ORDER BY create_time desc
        <if test="pageNumber != null and pages != null">
            limit #{pageNumber}, #{pages}
        </if>

    </select>

</mapper>