<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyx.service.activity.ActivityService">

    <insert id="insterReleaseActivity" parameterType="com.zyx.entity.activity.Activity" useGeneratedKeys="true">
        insert into a_activity(createId, title, imgUrls, desc, startTime, endTime, lastTime, maxPeople, visible, phone, price, type, targetUrl, address, activityType, examine, memberTemplate)
        value (#{createId}, #{title}, #{imgUrls}, #{desc}, #{startTime}, #{endTime}, #{lastTime}, #{maxPeople}, #{visible}, #{phone}, #{price}, #{type}, #{targetUrl}, #{address}, #{activityType}, #{examine}, #{memberTemplate})
        <selectKey keyProperty="id" resultType="int" order="AFTER">
            select LAST_INSERT_ID() AS id
        </selectKey>
    </insert>

</mapper>