<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyx.mapper.activity.ActivityMemberMapper">

    <resultMap id="queryMemberVo" type="com.zyx.entity.activity.vo.QueryMemberVo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="user_nick" property="userNick" jdbcType="VARCHAR"/>
        <result column="join_time" property="joinTime" jdbcType="BIGINT"/>
        <result column="examine_type" property="examineType" jdbcType="TINYINT"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="member_info" property="memberInfo" jdbcType="VARCHAR"/>
        <association column="activity_id" property="activity" javaType="Activity" select="com.zyx.mapper.activity.ActivityMapper.queryActivityById"/>
    </resultMap>

    <resultMap id="activityMember" type="com.zyx.entity.activity.ActivityMember">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="activity_id" property="activityId" jdbcType="INTEGER"/>
        <result column="user_nick" property="userNick" jdbcType="VARCHAR"/>
        <result column="join_time" property="joinTime" jdbcType="BIGINT"/>
        <result column="examine_type" property="examineType" jdbcType="TINYINT"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="member_info" property="memberInfo" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
    </resultMap>



    <select id="queryActivityMemberInfo" parameterType="com.zyx.entity.activity.parm.QueryMemberParm"
            resultMap="queryMemberVo">
        select * from activity_member where 1=1
        <if test="userId != null">
            AND user_id = #{userId}
        </if>
        <if test="activityId != null and activityId != ''">
            and activity_id = #{activityId}
        </if>
        ORDER BY create_time desc

    </select>

    <update id="updateMemberByExamine" parameterType="java.lang.Integer">
        UPDATE activity_member SET examine_type = true where id = #{id}
    </update>
</mapper>