<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyx.mapper.activity.ActivityMapper">

    <resultMap id="member_template" type="com.zyx.vo.activity.MemberTemplate">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="member_template" property="template" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="activity" type="com.zyx.entity.activity.Activity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="img_urls" property="imgUrls" jdbcType="VARCHAR"/>
        <result column="desc_content" property="descContent" jdbcType="LONGVARCHAR"/>
        <result column="start_time" property="startTime" jdbcType="BIGINT"/>
        <result column="end_time" property="endTime" jdbcType="BIGINT"/>
        <result column="last_time" property="lastTime" jdbcType="BIGINT"/>
        <result column="max_people" property="maxPeople" jdbcType="INTEGER"/>
        <result column="visible" property="visible" jdbcType="INTEGER"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="target_url" property="targetUrl" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="examine" property="examine" jdbcType="INTEGER"/>
        <result column="member_template" property="memberTemplate" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <result column="mask" property="mask" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="queryActivity" type="com.zyx.vo.activity.ActivityVo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="img_urls" property="imgUrls" jdbcType="VARCHAR"/>
        <result column="desc_content" property="descContent" jdbcType="LONGVARCHAR"/>
        <result column="start_time" property="startTime" jdbcType="BIGINT"/>
        <result column="end_time" property="endTime" jdbcType="BIGINT"/>
        <result column="last_time" property="lastTime" jdbcType="BIGINT"/>
        <result column="max_people" property="maxPeople" jdbcType="INTEGER"/>
        <result column="visible" property="visible" jdbcType="INTEGER"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="target_url" property="targetUrl" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="examine" property="examine" jdbcType="INTEGER"/>
        <result column="member_template" property="memberTemplate" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <result column="mask" property="mask" jdbcType="INTEGER"/>
        <association column="user_id" property="user" select="com.zyx.mapper.account.AccountInfoMapper.selectAttentionAccountById"/>
        <association column="id" property="memberCount" javaType="int" select="com.zyx.mapper.activity.ActivityMemberMapper.memberCount"/>
        <association column="id" property="collection" javaType="int" select="queryCollCount"/>
        <association column="id" property="zanCount" javaType="int" select="queryZanCount"/>
        <association column="id" property="commentCount" javaType="int" select="queryCommentCount"/>
    </resultMap>

    <select id="queryActivity" parameterType="com.zyx.param.activity.QueryActivityParm"
            resultMap="queryActivity">
        select * from activity where 1=1
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="createId != null and createId != ''">
            and user_id = #{createId}
        </if>
        <if test="groupName != null and groupName != ''">
            and group_name = #{groupName}
        </if>
        <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
            and start_time &gt;= #{startTime}
            and end_time &lt;= #{endTime}
        </if>
        AND del != 1 AND mask = 0
        ORDER BY create_time desc
        <if test="pageNumber != null and page != null">
            limit #{page}, #{pageNumber}
        </if>
    </select>

    <select id="queryCollCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(id) from t_collection where model_id = #{id} AND model = 1
    </select>

    <select id="queryZanCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(id) from zan where body_id = #{id} AND body_type = 3
    </select>

    <select id="queryCommentCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(id) from comment where comment_id = #{id} AND comment_type = 2
    </select>

    <select id="queryActivityMember" parameterType="java.lang.Integer" resultMap="member_template">
        select * from activity where id = #{id} AND del != 1 AND mask = 0 ORDER BY create_time desc
    </select>

    <select id="queryActivityById" parameterType="java.lang.Integer" resultMap="queryActivity">
        select * from activity where id = #{id} AND del != 1 AND mask = 0 ORDER BY create_time desc
    </select>

    <select id="queryActivityHistory" parameterType="com.zyx.param.activity.QueryHistoryParm"
            resultMap="queryActivity">
        select * from activity where 1=1 AND del != 1 AND mask = 0
        ORDER BY create_time desc
        <if test="pageNumber != null and pageHis != null">
            limit #{pageHis}, #{pageNumber}
        </if>
    </select>

    <select id="queryActivityDevaluation" parameterType="java.util.List" resultMap="queryActivity">
        select * from activity where  del != 1 AND mask = 0 AND id IN
        <foreach item="item" index="index" collection="list"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
         ORDER BY create_time desc
    </select>

</mapper>