<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyx.mapper.activity.ActivityMemberMapper">

    <resultMap id="queryMemberVo" type="com.zyx.vo.activity.QueryMemberVo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="activity_id" property="activityId" jdbcType="INTEGER"/>
        <result column="user_nick" property="userNick" jdbcType="VARCHAR"/>
        <result column="join_time" property="joinTime" jdbcType="BIGINT"/>
        <result column="examine_type" property="examineType" jdbcType="TINYINT"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="member_info" property="memberInfo" jdbcType="VARCHAR"/>
        <result column="mask" property="mask" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="activityMember" type="com.zyx.entity.activity.ActivityMember">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="activity_id" property="activityId" jdbcType="INTEGER"/>
        <result column="user_nick" property="userNick" jdbcType="VARCHAR"/>
        <result column="join_time" property="joinTime" jdbcType="BIGINT"/>
        <result column="examine_type" property="examineType" jdbcType="TINYINT"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="member_info" property="memberInfo" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <result column="mask" property="mask" jdbcType="INTEGER"/>
    </resultMap>



    <select id="queryActivityMemberInfo" parameterType="com.zyx.param.activity.QueryMemberParm"
            resultMap="activityMember">
        select * from activity_member where 1=1 AND del != 1
        <if test="userId != null">
            AND user_id = #{userId}
        </if>
        <if test="activityId != null and activityId != ''">
            and activity_id = #{activityId}
        </if>
        ORDER BY create_time desc
    </select>

    <select id="memberCount" parameterType="int" resultType="int">
        select COUNT(*) from activity_member where activity_id = #{id} AND del != 1
    </select>

    <update id="updateMemberByExamine" parameterType="java.util.Map">
        UPDATE activity_member SET examine_type = #{type} where id IN
        <foreach item="item" index="index" collection="id"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <delete id="delActivityMember" parameterType="com.zyx.param.activity.MemberInfoParm">
        DELETE FROM activity_member WHERE user_id = #{userId} AND activity_id = #{activityId}
    </delete>
</mapper>