<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyx.mapper.collection.CollectionMapper">

    <resultMap id="getLiveInfo" type="com.zyx.vo.collection.CollLiveVo" extends="BaseCollection">
        <collection property="liveInfoVo" select="com.zyx.mapper.collection.CollectionMapper.selectCollLiveInfo"
                    column="model_id"/>
    </resultMap>
    <resultMap id="getActivityInfo" type="com.zyx.vo.collection.CollActivityVo" extends="BaseCollection">
        <collection property="activityInfoVo" select="com.zyx.mapper.activity.ActivityMapper.queryActivityById"
                    column="model_id"/>
    </resultMap>
    <resultMap id="getCircleItem" type="com.zyx.vo.collection.CollCircleItemVo" extends="BaseCollection">
        <collection property="circleItemVo" select="com.zyx.mapper.pg.CircleItemMapper.selectCircleItemById"
                    column="model_id"/>
    </resultMap>
    <resultMap id="getConcernInfo" type="com.zyx.vo.collection.CollConcernVo" extends="BaseCollection">
        <collection property="myFollowVo" select="com.zyx.mapper.pg.ConcernMapper.getOne"
                    column="model_id"/>
    </resultMap>
    <resultMap id="BaseCollection" type="com.zyx.vo.collection.CollectionVo">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="model" property="model" jdbcType="VARCHAR"/>
        <result column="model_id" property="modelId" jdbcType="VARCHAR"/>
        <discriminator javaType="java.lang.Integer" column="model">
            <case value="1" resultMap="getActivityInfo"/>
            <case value="2" resultMap="getLiveInfo"/>
            <case value="4" resultMap="getCircleItem"/>
            <case value="5" resultMap="getConcernInfo"/>
        </discriminator>
    </resultMap>

    <select id="selectCollections" resultMap="BaseCollection" parameterType="com.zyx.param.collection.CollectionParam">
        SELECT id,create_time,user_id,model,model_id
        FROM t_collection
        WHERE
        1=1
        <if test="userId!=null">
            AND
            user_id=#{userId}
        </if>
        <if test="model!=null">
            AND
            model=#{model}
        </if>
        ORDER BY
        create_time DESC
        <if test="pager != null">
            LIMIT #{pager.offset},#{pager.pageSize}
        </if>
    </select>

    <select id="myCollectionList" resultMap="BaseCollection" parameterType="com.zyx.param.collection.CollectionParam">
        SELECT id,create_time,user_id,model,model_id
        FROM t_collection
        WHERE
        1=1
        <if test="userId!=null">
            AND
            user_id=#{userId}
        </if>
        ORDER BY
        create_time DESC
    </select>

    <select id="selectModelIds" parameterType="com.zyx.param.collection.CollectionParam" resultType="java.lang.Integer">
		SELECT model_id
		FROM t_collection
		WHERE
		1=1
		AND
		user_id=#{userId}
		AND
		model=#{model}
	</select>

    <!-- 直播 -->
    <resultMap id="LiveInfoVo" type="com.zyx.vo.live.LiveInfoVo">
        <id column="id" property="id"/>
        <result column="creat_time" property="createTime"/>
        <result column="auth" property="auth"/>
        <result column="type" property="type"/>
        <result column="start" property="start"/>
        <result column="end" property="end"/>
        <result column="title" property="title"/>
        <result column="lab" property="lab"/>
        <result column="bgm_url" property="bgmUrl"/>
        <result column="vedio_url" property="vedioUrl"/>
        <result column="state" property="state"/>
        <result column="authInfo" property="authInfo"/>
        <association property="msgCount" column="id" select="queryLiveMsgCount"/>
        <association property="zanCount" column="id" select="queryLiveZan"/>
        <association property="userIconVo" column="user_id" select="selectUserIcon"></association>
    </resultMap>
    <select id="selectCollLiveInfo" parameterType="java.lang.Integer" resultMap="LiveInfoVo">
		SELECT
		t_live.id,
		t_live.create_time,
		t_live.auth,
		t_live.type,
		t_live.start_time,
		t_live.end_time,
		t_live.user_id,
		t_live.title,
		t_live.lab,
		t_live.bgm_url,
		t_live.vedio_url,
		t_live.state,
		`user_auth`.authinfo AS authInfo
		FROM t_live
		LEFT JOIN `user_auth` ON t_live.user_id = `user_auth`.user_id
		WHERE
		t_live.id = #{id}
	</select>
    <!--直播-->
    <select id="queryLiveMsgCount" parameterType="int" resultType="int">
        SELECT COUNT(id) FROM comment WHERE comment_type = 1 AND comment_id=#{id}
    </select>
    <select id="queryLiveZan" parameterType="int" resultType="int">
        SELECT COUNT(id) from zan where body_type=4 AND body_id=#{id}
    </select>
    <select id="selectUserIcon" parameterType="java.lang.Integer" resultType="com.zyx.vo.account.UserIconVo">
		SELECT id,nickname,avatar
		FROM user
		WHERE
		id = #{user_id}
	</select>
    <select id="getCollUserIcons" parameterType="com.zyx.param.collection.CollectionParam" resultType="com.zyx.vo.account.UserIconVo">
        SELECT
        tu.`id` AS id,tu.`nickname`,tu.`avatar`
        FROM t_collection tc
        RIGHT JOIN user tu ON tc.`user_id` = tu.`id`
        WHERE
        tc.`model`=#{model}
        AND
        tc.`model_id`=#{modelId}
        ORDER BY
        tc.`create_time` DESC
    </select>
</mapper>