<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ The MIT License (MIT)
  ~
  ~ Copyright (c) 2014 abel533@gmail.com
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in
  ~ all copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
  ~ THE SOFTWARE.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyx.mapper.system.CommentMapper">
    <resultMap id="CommentResultMap" type="com.zyx.entity.system.Comment">
        <id column="Id" property="id" jdbcType="INTEGER"/>
        <result column="comment_type" property="commentType" jdbcType="INTEGER"/>
        <result column="comment_id" property="commentId" jdbcType="INTEGER"/>
        <result column="comment_account" property="commentAccount" jdbcType="INTEGER"/>
        <result column="comment_content" property="commentContent" jdbcType="LONGVARCHAR"/>
        <result column="comment_state" property="commentState" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
    </resultMap>

    <resultMap id="commentVoMap" type="com.zyx.vo.pg.CommentVo" extends="CommentResultMap">
        <association property="userVo" column="comment_account" select="userVoSelect"/>
        <collection property="replyVos" column="id" select="replySelect"/>
    </resultMap>

    <resultMap id="replyResultMap" type="com.zyx.entity.system.Reply">
        <id column="Id" property="id" jdbcType="INTEGER"/>
        <result column="reply_parent_id" property="replyParentId" jdbcType="INTEGER"/>
        <result column="reply_from_user" property="replyFromUser" jdbcType="INTEGER"/>
        <result column="reply_to_user" property="replyToUser" jdbcType="INTEGER"/>
        <result column="reply_content" property="replyContent" jdbcType="VARCHAR"/>
        <result column="reply_state" property="replyState" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
    </resultMap>

    <resultMap id="replyVoMap" type="com.zyx.vo.pg.ReplyVo" extends="replyResultMap">
        <association property="fromUserVo" column="reply_from_user" select="userVoSelect"/>
        <association property="toUserVo" column="reply_to_user" select="userVoSelect"/>
    </resultMap>

    <select id="userVoSelect" parameterType="int" resultType="com.zyx.vo.pg.UserVo">
        SELECT nickName,avatar,authenticate  FROM `user` WHERE id=#{userId}
    </select>

    <select id="replySelect" parameterType="int" resultMap="replyVoMap">
        SELECT * FROM reply WHERE reply_parent_id=#{parentId}
    </select>

    <select id="commentQuery" resultMap="commentVoMap">
        SELECT * FROM  comment WHERE comment_type=#{type} AND comment_id=#{commentId} ORDER BY create_time DESC
    </select>


</mapper>