<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ The MIT License (MIT)
  ~
  ~ Copyright (c) 2014 abel533@gmail.com
  ~
  ~ Permission is hereby granted, free of charge, to any person obtaining a copy
  ~ of this software and associated documentation files (the "Software"), to deal
  ~ in the Software without restriction, including without limitation the rights
  ~ to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  ~ copies of the Software, and to permit persons to whom the Software is
  ~ furnished to do so, subject to the following conditions:
  ~
  ~ The above copyright notice and this permission notice shall be included in
  ~ all copies or substantial portions of the Software.
  ~
  ~ THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  ~ IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  ~ FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  ~ AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  ~ LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  ~ OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
  ~ THE SOFTWARE.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyx.mapper.pg.ConcernMapper">
    <resultMap id="ConcernResultMap" type="com.zyx.entity.pg.Concern">
        <id column="Id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="topic_title" property="topicTitle" jdbcType="VARCHAR"/>
        <result column="topic_content" property="topicContent" jdbcType="VARCHAR"/>
        <result column="img_url" property="imgUrl" jdbcType="INTEGER"/>
        <result column="video_url" property="videoUrl" jdbcType="INTEGER"/>
        <result column="topic_visible" property="videoUrl" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
    </resultMap>

    <resultMap id="ConcernMyMap" type="com.zyx.vo.pg.MyFollowVo" extends="ConcernResultMap">
        <result column="account_id" property="accountId" jdbcType="VARCHAR"/>
        <!--<result column="zan_counts" property="zanCounts" jdbcType="VARCHAR"/>-->
        <!--<result column="comment_counts" property="commentCounts" jdbcType="VARCHAR"/>-->
        <association property="zanCounts" column="id" select="zanSelect"/>
        <association property="commentCounts" column="id" select="commentSelect"/>
        <association property="userVo" column="user_id" select="userSelect"/>
        <association property="userAuthVo" column="user_id" select="userAuthSelect"/>
    </resultMap>

    <select id="userSelect" parameterType="int" resultType="com.zyx.vo.pg.UserVo">
        SELECT nickname,avatar,id FROM `user` WHERE id=#{user_id}
    </select>

    <select id="userAuthSelect" parameterType="int" resultType="com.zyx.vo.pg.UserAuthVo">
        SELECT authInfo FROM `user_auth` WHERE user_id=#{user_id}
    </select>

    <select id="zanSelect" parameterType="int" resultType="int">
        SELECT COUNT(id) FROM zan WHERE zan.body_id=#{concernId}
    </select>

    <select id="commentSelect" parameterType="int" resultType="int">
     SELECT COUNT(id) FROM reply WHERE reply.reply_type=1 AND reply_id=#{concernId}
    </select>

    <select id="starRandom" resultMap="ConcernResultMap">
        SELECT * FROM concern where type=#{type}
        GROUP BY create_time
        <if test="n !=null">
            limit 0, #{n}
        </if>
    </select>

    <select id="queryConcernDeva" resultMap="ConcernResultMap">
        SELECT * FROM concern WHERE id IN
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="myListCount" parameterType="int" resultType="int">
        SELECT count(id) FROM concern WHERE user_id = #{accountId}
    </select>

    <select id="myConcernList" parameterType="int" resultMap="ConcernMyMap">
        SELECT
        concern.create_time,
        concern.id,
        concern.user_id,
        concern.topic_content,
        concern.img_url,
        concern.video_url,
        concern.topic_title
        FROM
        concern
        WHERE concern.user_id=#{accountId}
        ORDER BY
        concern.create_time DESC
    </select>

    <select id="myFollowList" resultMap="ConcernMyMap">
        SELECT
        concern.create_time,
        concern.id,
        concern.user_id,
        concern.topic_content,
        concern.img_url,
        concern.video_url,
        concern.topic_title,
        myconcern.account_id
        FROM
        concern
        INNER JOIN myconcern ON myconcern.concern_id = concern.id
        WHERE myconcern.concern_type=0 AND myconcern.account_id=#{loginUserId}
        ORDER BY
        concern.create_time DESC
    </select>

    <select id="starConcern" resultMap="ConcernMyMap">
    SELECT
    concern.create_time,
    concern.id,
    concern.user_id,
    concern.topic_content,
    concern.img_url,
    concern.video_url,
    concern.topic_title
    FROM
    concern
    WHERE concern.type=3
    ORDER BY
    concern.create_time DESC
    LIMIT 0,#{max}

    </select>


</mapper>