<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyx.mapper.live.LiveInfoMapper">

	<!-- 用户信息表 -->
	<!-- <sql id="liveInfo"> t_live </sql> -->

	<resultMap id="LiveInfoVo" type="com.zyx.vo.live.LiveInfoVo">
		<id column="id" property="id" />
		<id column="creat_time" property="createTime" />
		<id column="auth" property="auth" />
		<id column="user_id" property="userId" />
		<id column="type" property="type" />
		<id column="start_time" property="startTime" />
		<id column="end_time" property="endTime" />
		<id column="title" property="title" />
		<id column="lab" property="lab" />
		<id column="bgm_url" property="bgmUrl" />
		<id column="vedio_url" property="vedioUrl" />
		<id column="group_id" property="groupId" />
		<id column="state" property="state" />
		<id column="isColl" property="isColl" />
		<association property="userIconVo" column="user_id" select="selectUserIcon"></association>
		<association property="zanCount" column="id" select="zanSelect"/>
	</resultMap>

	<resultMap id="EndLiveInfoVo" type="com.zyx.vo.live.LiveInfoVo">
		<id column="id" property="id" />
		<id column="creat_time" property="createTime" />
		<id column="start_time" property="startTime" />
		<id column="end_time" property="endTime" />
		<!--<id column="group_id" property="groupId" />-->
		<id column="state" property="state" />
		<association property="zanCount" column="id" select="zanSelect"/>
	</resultMap>

	<select id="countLives" parameterType="com.zyx.param.live.LiveInfoParam"
		resultType="java.lang.Long">
		select count(id)
		from t_live
		where
		1=1
		<if test="lab != null">
			and
			lab = #{lab}
		</if>
		AND
		del = 0
		AND
		<![CDATA[ START_TIME < NOW()]]>
	</select>

	<select id="selectById" parameterType="java.lang.Integer" resultType="com.zyx.entity.live.LiveInfo">
		select id,create_time,auth,type,start_time,end_time,user_id,title,lab,bgm_url,vedio_url,group_id,state
		from t_live
		id=#{id}
	</select>

	<select id="selectLiveInfo" parameterType="com.zyx.param.live.LiveInfoParam" resultMap="LiveInfoVo">
		SELECT
		live.id,live.create_time,auth,type,start_time,end_time,live.user_id,title,lab,bgm_url,vedio_url,group_id,live.state,
		CASE
		COUNT(coll.id)
		WHEN 0 THEN FALSE
		ELSE
		TRUE
		END
		AS isColl
		FROM
		t_live live LEFT JOIN t_collection coll ON live.`id`= coll.`model_id` AND coll.`user_id` = #{viewUserId}
  		WHERE
		live.id=#{id}
	</select>

	<select id="selectLives" parameterType="com.zyx.param.live.LiveInfoParam"
		resultMap="LiveInfoVo">
		select id,create_time,auth,type,start_time,end_time,user_id,title,lab,bgm_url,vedio_url,group_id,state
		from t_live
		where
		1=1
		<if test="lab != null">
			and
			lab = #{lab}
		</if>
		AND
		del = 0
		AND
		<![CDATA[ START_TIME < NOW()]]>
		ORDER BY
		state DESC,
		CREATE_TIME DESC
		<if test="pager != null">
			LIMIT #{pager.offset},#{pager.pageSize}
		</if>
	</select>

	<select id="selectEndLiveInfo" parameterType="java.lang.Integer" resultMap="EndLiveInfoVo">
		SELECT id,create_time,start_time,end_time,state
		FROM t_live
		WHERE
		id = #{id}
		AND
		del = 0
	</select>
	<select id="selectUserIcon" parameterType="java.lang.Integer" resultType="com.zyx.vo.account.UserIconVo">
		SELECT id,nickname,avatar
		FROM user
		WHERE
		id = #{user_id}
		AND
		del = 0
	</select>
	<select id="zanSelect" parameterType="int" resultType="int">
		SELECT count(id) from zan where body_type=4 AND body_id=#{circle_item_id}
	</select>
	<insert id="saveLiveInfo" parameterType="com.zyx.entity.live.LiveInfo" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		 t_live(create_time,auth,type,start_time,end_time,user_id,title,lab,bgm_url,vedio_url,group_id,state,del)
		 VALUES (#{createTime},#{auth},#{type},#{startTime},#{endTime},#{userId},#{title},#{lab},#{bgmUrl},#{vedioUrl},#{groupId},#{state},#{del})
	</insert>
</mapper>