<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyx.mapper.live.LiveInfoMapper">

	<!-- 用户信息表 -->
	<!-- <sql id="liveInfo"> t_live </sql> -->

	<resultMap id="LiveInfoVo" type="com.zyx.vo.live.LiveInfoVo">
		<id column="id" property="id" />
		<id column="creat_time" property="createTime" />
		<id column="auth" property="auth" />
		<id column="type" property="type" />
		<id column="start_time" property="startTime" />
		<id column="end_time" property="endTime" />
		<id column="title" property="title" />
		<id column="lab" property="lab" />
		<id column="bgm_url" property="bgmUrl" />
		<id column="vedio_url" property="vedioUrl" />
		<id column="group_id" property="groupId" />
		<id column="state" property="state" />
		<association property="userIconVo" column="user_id" select="selectUserIcon"></association>
	</resultMap>

	<select id="countLives" parameterType="com.zyx.param.live.LiveInfoParam"
		resultType="java.lang.Long">
		select count(id)
		from t_live
		where
		1=1
		<if test="lab != null">
			and
			lab = #{lab}
		</if>
		AND
		del = 0
	</select>

	<select id="selectLives" parameterType="com.zyx.param.live.LiveInfoParam"
		resultMap="LiveInfoVo">
		select id,create_time,auth,type,start_time,end_time,user_id,title,lab,bgm_url,vedio_url,group_id,state
		from t_live
		where
		1=1
		<if test="lab != null">
			and
			lab = #{lab}
		</if>
		AND
		del = 0
		ORDER BY
		create_time DESC
		<if test="pager != null">
			LIMIT #{pager.offset},#{pager.pageSize}
		</if>
	</select>

	<select id="selectLiveInfo" parameterType="java.lang.Integer" resultType="com.zyx.entity.live.LiveInfo">
		SELECT *
		FROM t_live
		WHERE
		id = #{id}
		AND
		del = 0
	</select>
	<select id="selectUserIcon" parameterType="java.lang.Integer" resultType="com.zyx.vo.account.UserIconVo">
		SELECT id,nickname,avatar
		FROM user
		WHERE
		id = #{user_id}
		AND
		del = 0
	</select>
	<insert id="saveLiveInfo" parameterType="com.zyx.entity.live.LiveInfo" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		 t_live(create_time,auth,type,start_time,end_time,user_id,title,lab,bgm_url,vedio_url,group_id,state,del)
		 VALUES (#{createTime},#{auth},#{type},#{startTime},#{endTime},#{userId},#{title},#{lab},#{bgmUrl},#{vedioUrl},#{groupId},#{state},#{del})
	</insert>
</mapper>