<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyx.service.live.LiveInfoService">

	<!-- 用户信息表 -->
	<!-- <sql id="liveInfo"> t_live </sql> -->

	<resultMap id="LiveInfo" type="com.zyx.entity.live.LiveInfo">
		<id column="id" property="id" />
		<id column="type" property="type" />
		<id column="start" property="start" />
		<id column="end" property="end" />
		<id column="userId" property="userId" />
		<id column="title" property="title" />
		<id column="lab" property="lab" />
		<id column="bgmUrl" property="bgmUrl" />
	</resultMap>


</mapper>