<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zyx.mapper.activity.PageViewsMapper">

    <select id="queryPageView" resultType="com.zyx.entity.activity.PageViews">
        SELECT * FROM pageviews WHERE types=#{types} AND typeId = #{typeId}
    </select>

</mapper>