<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zyx.mapper.system.SearchMapper">
    <!-- 活动 -->
    <resultMap id="queryActivity" type="com.zyx.vo.system.SearchActivityVo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="img_urls" property="imgUrls" jdbcType="VARCHAR"/>
        <result column="start_time" property="startTime" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <result column="mask" property="mask" jdbcType="INTEGER"/>
        <association property="zanCount" column="id" select="queryActivityZan"/>
        <association column="user_id" property="user"
                     select="com.zyx.mapper.account.AccountInfoMapper.selectAttentionAccountById"/>
    </resultMap>


    <!--用户-->
    <resultMap id="queryUserAuthInfo" type="com.zyx.vo.system.SearchUserAuthVo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="authinfo" property="authinfo" jdbcType="VARCHAR"/>
        <result column="authfile" property="authfile" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="queryAccount" type="com.zyx.vo.system.SearchAccountVo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="nickname" property="nickName" jdbcType="VARCHAR"/>
        <result column="avatar" property="avatar" jdbcType="VARCHAR"/>
        <result column="is_atten" property="isAtten" jdbcType="VARCHAR"/>
        <result column="authenticate" property="authenticate" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <association property="auth" column="id" select="authByUserId"></association>
    </resultMap>


    <!--圈子-->
    <resultMap id="queryCirle" type="com.zyx.vo.system.SearchCirleVo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="headImgUrl" property="headImgUrl" jdbcType="VARCHAR"/>
        <result column="is_atten" property="isAtten" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="BIGINT"/>
        <association property="account" column="create_id"
                     select="searchUserAndAuth"></association>
    </resultMap>

    <!--直播-->
    <resultMap id="liveInfoVo" type="com.zyx.vo.system.SearchLiveVo">
        <result column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="bgm_url" property="bgmUrl"/>
        <result column="create_time" property="createTime"/>
        <result column="state" property="state"/>
        <association property="account" column="user_id"
                     select="searchUserAndAuth"></association>
    </resultMap>

    <!--动态-->
    <resultMap id="concernInfoVo" type="com.zyx.vo.system.SearchConcernVo">
        <result column="id" property="id"/>
        <result column="topic_content" property="topicContent"/>
        <result column="msgCount" property="msgCount"/>
        <result column="img_url" property="imageUrl"/>
        <result column="create_time" property="createTime"/>
        <association property="zanCount" column="id" select="queryConcernZan"/>
        <association property="account" column="user_id"
                     select="searchUserAndAuth"></association>
    </resultMap>


    <!--帖子-->
    <resultMap id="searchPostsVo" type="com.zyx.vo.system.SearchPostsVo">
        <result column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="msgCount" property="msgCount"/>
        <result column="create_time" property="createTime"/>
        <result column="circle_id" property="circleId"/>
        <result column="circleName" property="circleName"/>
        <association property="zanCount" column="id" select="queryPostsZan"/>
        <association property="account" column="create_id"
                     select="searchUserAndAuth"></association>
    </resultMap>


    <!--SQL语句-->
    <!--活动-->
    <select id="queryActivityZan" parameterType="int" resultType="int">
        SELECT COUNT(id) from zan where body_type=3 AND body_id=#{id}
    </select>

    <select id="searchActivtiy" parameterType="com.zyx.param.system.SearchParam" resultMap="queryActivity">
        SELECT ac.id, ac.title,ac.img_urls,ac.start_time,ac.create_time,ac.mask,ac.user_id,
        (SELECT COUNT(id) FROM comment c WHERE c.comment_id = ac.id and c.comment_type = 2) as msgCount
        FROM activity ac WHERE (ac.title LIKE CONCAT('%',#{character},'%')
        OR ac.desc_content LIKE CONCAT('%',#{character},'%'))
        AND ac.del != 1 AND ac.visible = 0 AND ac.mask = 0
        ORDER BY ac.create_time desc
        <if test="pageNumber != null and pages != null">
            limit #{pages}, #{pageNumber}
        </if>
    </select>

    <!--用户-->
    <select id="searchUserAndAuth" parameterType="java.lang.Integer" resultMap="queryAccount">
        SELECT id,nickname,avatar,create_time, authenticate FROM user
        where mask = 0 AND del = 0 and id = #{user_id}
    </select>

    <select id="authByUserId" parameterType="int" resultMap="queryUserAuthInfo">
        SELECT * FROM user_auth where user_id = #{id}
    </select>

    <select id="searchAccount" parameterType="com.zyx.param.system.SearchParam" resultMap="queryAccount">
        SELECT u.id,u.nickname,u.avatar,u.create_time, u.authenticate,
        NOT ISNULL(a.id) as is_atten
        FROM user u LEFT JOIN USER_ATTENTION a ON u.id = a.to_user_id AND a.rel_type = 1 and a.from_user_id = #{userId}
        where u.nickname LIKE CONCAT('%',#{character},'%') AND u.mask = 0 AND u.del = 0
        ORDER BY u.create_time desc
        <if test="pageNumber != null and pages != null">
            limit #{pages}, #{pageNumber}
        </if>
    </select>

    <!--圈子-->
    <select id="searchCirle" parameterType="com.zyx.param.system.SearchParam" resultMap="queryCirle">
        SELECT c.id, c.title, c.head_img_url,c.create_time,c.create_id, NOT ISNULL(m.id) as is_atten
        FROM circle c LEFT JOIN myconcern m ON c.id = m.concern_id AND m.concern_type = 4 AND m.account_id = #{userId}
        WHERE title LIKE CONCAT('%',#{character},'%') AND c.state != -1 AND c.state != -2
        ORDER BY c.create_time desc
        <if test="pageNumber != null and pages != null">
            limit #{pages}, #{pageNumber}
        </if>
    </select>

    <!--直播-->
    <select id="queryLiveZan" parameterType="int" resultType="int">
        SELECT COUNT(id) from zan where body_type=4 AND body_id=#{id}
    </select>

    <select id="searchLive" parameterType="com.zyx.param.system.SearchParam" resultMap="liveInfoVo">
        SELECT a.id,a.title,a.lab,a.bgm_url,a.create_time,a.user_id,a.state
        FROM t_live a WHERE a.title LIKE CONCAT('%',#{character},'%') and a.del = 0
        ORDER BY a.create_time desc
        <if test="pageNumber != null and pages != null">
            limit #{pages}, #{pageNumber}
        </if>
    </select>

    <!--动态-->
    <select id="queryConcernZan" parameterType="int" resultType="int">
        SELECT COUNT(id) from zan where body_type=2 AND body_id=#{id}
    </select>

    <select id="searchConcern" parameterType="com.zyx.param.system.SearchParam" resultMap="concernInfoVo">
        SELECT a.id,a.user_id,a.topic_content,a.create_time,a.img_url,
        (SELECT COUNT(id) FROM comment c WHERE c.comment_id = a.id and c.comment_type = 3) as msgCount
        FROM concern a WHERE a.topic_content LIKE CONCAT('%',#{character},'%')
        AND a.state != -1 AND a.state != -2
        ORDER BY a.create_time desc
        <if test="pageNumber != null and pages != null">
            limit #{pages}, #{pageNumber}
        </if>
    </select>

    <!--帖子-->
    <select id="queryPostsZan" parameterType="int" resultType="int">
        SELECT COUNT(id) from zan where body_type=5 AND body_id=#{id}
    </select>

    <select id="searchPosts" parameterType="com.zyx.param.system.SearchParam" resultMap="searchPostsVo">
        SELECT a.id,a.create_id,a.title,a.create_time, a.circle_id, b.title as circleName,
        (SELECT count(id) FROM comment c WHERE a.id = c.comment_id AND c.comment_type = 1) as msgCount
        FROM circle_item a LEFT JOIN circle b ON a.circle_id = b.id WHERE a.title LIKE CONCAT('%',#{character},'%') AND a.state != -1 AND a.state != -2
        <if test="pageNumber != null and pages != null">
            limit #{pages}, #{pageNumber}
        </if>
    </select>


</mapper>